*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 99%;
   

}
body{  
  background-image: url("img/fondo-ok.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Skranji', cursive;
}
.container-encabezado{
    display: flex;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    justify-content: center;
    position: relative;
    animation-name: titulo;
    animation-duration: 4s;
     
   
}
@keyframes titulo {
    0%   {background-color:rgba(115, 13, 62, 0.585); left:0px; top:0px;}
    25%  {background-color:rgba(206, 206, 55, 0.363); left:200px; top:0px;}
    50%  {background-color:rgb(37, 83, 126); left:200px; top:200px;}
    75%  {background-color:rgba(53, 153, 53, 0.49); left:0px; top:200px;}
    100% {background-color:rgba(115, 13, 62, 0.585); left:0px; top:0px;}
  }

  
h1{ 
    
    /* text-align: center; */
    color: rgb(249, 226, 196);
    padding-top: 10px;
    font-size: 30px;
    text-decoration:underline;
    
    
}

 

.logo{
    height: 100px;
    padding-left: 10px;
   
}
.logo img{
    display: block;
    height: 100%;
}


.filtros {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border: 10px;
    list-style: none;
    
 
    
}
 


.listaDeFiltros nav {
    list-style-type: none;
    
    
}


.listaDeFiltros nav li a {
    
    color: rgb(144, 11, 93);
    text-decoration: none;
    padding: 10px;
    border: 3px solid;
    margin: 2px;
    display: block;
    background-color: rgb(202, 218, 161);
    border-radius: 8px;
    list-style: none;
    
    
    
}

.listaDeFiltros nav li a:hover {
    background-color:  rgb(146, 130, 151) ;
}

.listaDeFiltros nav > li {
    float: left;
    
}
.tituloFiltros nav li{
    list-style: none;
    padding: 2px;
}
.tituloFiltros nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    list-style: none;
}

.tituloFiltros nav li:hover > ul {
    display: block;
}




.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
    
    
}
.card{
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card h3{
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 5px;;
    border-radius: 7px;
    color: rgb(239, 239, 20);
    
    font-size: 15px;
    text-decoration: none;
    animation-name: box;
    animation-duration: 3s;
    
   
}
@keyframes box {
    from {background-color: rgba(255, 145, 0, 0.543);}
    to {background-color: rgba(208, 208, 60, 0.597);}
  }
.card img{
    border-radius: 30px;
    width: 150px;
    height: 150px;
    border: solid rgb(53, 75, 177);
    margin: 2px;
  
}

.card button{
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    color: rgb(249,226,196);
    background-color: rgb(95, 116, 220);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}
.card p{
   
    margin: 5px;
    font-size: 15px;
    

    color: rgb(38, 6, 81);

}

.paginacion{
    text-align: center;
    margin: 50px;
    
    
    
}
.paginacion button{
    margin: 25px;
    background-color: rgba(246, 155, 246, 0)


}
.paginacion img{
    border-radius: 30px;
    width: 20px;
    height: 20px;
    border: solid rgb(53, 75, 177);
    
  
}



footer{
    padding: 60px;
    text-align: center;
    border: 10px;
    margin: 8px;
    font-size: 20px;
    color: bisque;
   
}




@media (max-width:375px){
    header ul li{
        display: block;
    }
    header ul li a{
        display: block;
    } 
    .container{
        flex-direction: column;
    }
}
